
<html>
     <head>
         <title>DashBoard</title>
         <link rel='stylesheet' href='css/login.css'>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         
         
     </head>
     <body>
         <div >
            <nav>
                    <div id="left">
                        Dashboard
                    </div>
                    <div  id="right">
                        <a href="">Home</a>
                        <a href="/signout">Logout</a>
                        <div id="navbar_friends">
                         <button id="changedisplayonhover" style="display: inline-flex;" >Friends  <i class="fa fa-caret-down" ></i></button><br></button>
                          <div id="friends">
                            <%if(users){%>
                               <% for (let i of users){%>
                                <a><%=i.fn%></a>

                           <%}   } %>
                           </div>
                        </div>   
                    </div>
            </nav>
        
         
            <p style="text-align: center;">Hello <%=user.fn%>,Welcome to your Dashboard </p>
            <div id="form" style="height:fit-content" >
                <%if(locals.user){%>
                <form id="formforposts" method="get" action="/addingtopostscollection" style="border: 2px solid indianred;text-align: center;">
                    <h4>Enter Content</h4>
                    <textarea name="content" rows="10" cols="30" required ></textarea><br>
                    <input type="submit" value="Add Post"><br>
                    
                </form>
                <%}%>
            </div>

            <%/* partials: To split code into smaller fragments */%>
            <div id="forDisplayingAllPosts">
                <%- include('_printingposts') %>
            </div>
        </div>       
    </body>
</html>