
    <html>
     <head>
         <title>DashBoard</title>
         
     </head>
     <body>
         <h1>Dashboard</h1>
         
         <p>Hello <%=user.fn%> </p>
         <a href='/signout'>Sign Out</a>
    </body>
     </html>