
<html>
 <head>
     <title>Homepage</title>
     <link rel='stylesheet' href='css/index.css'>
 </head>
 <body>
       <div>
        <nav>
            <div id="left">
                <p>Home Page</p>
            </div>
            <div  id="right">
                <a href="">Home</a>
                <a href="/signin">Login/Register</a>
            </div>
            
           
        </nav>
       </div>
       <div class="maindiv">
           <h1>Express App</h1>
           <p>Welcome to your express App</p>
       </div>
       
   


 </body>

</html>