div#form {
    margin: auto;
    width: 30%;
    padding: 5%;
}
body 
{
    margin: 0;
    font-family: sans-serif;
    padding: 0.5%;

}
div {
    font-size: small;
    opacity: 0.9;
    padding: 1%;
    margin: 1%;
}
#form h2 {
    font-size: small;
    opacity: 0.9;
    text-align: center;
}
#form input {
    width: 95%;
    height: 35px;
    padding: 1%;
    margin: 3%;
}
i.fa.fa-user {
    font-size: 150px;
    color: #EAEDED;
    margin: 1%;
   
}

input[type="submit"] ,button#changedisplayonhover
{
    color: white;
    background: #5499C7;
    border: none;
    
    
}
a {
    text-decoration: none;
    margin: 5%;
    
    font-weight: bolder;
    color: #1F618D;
}
p {
    text-align: center;
}
#userfontawesome
{
    text-align: center;
}
#forDisplayingAllPosts div.post {
    padding: 2%;
    border: 2px solid black;
    margin: 1%;
    font-weight:900;
    margin-bottom: 0%;
}
div#left {
    display: inline-block;
    width: 46%;
    
    
}
div#right {
    text-align: right;
    display: inline-flex;
    width: 45%;
    
}
form#formfordeletingpost {
    margin: 1%;
    margin-top: 0%;
}
div#navbar_friends {
    display: inline-block;
    
    
}
div#friends {
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: 0%;
    padding-left: 0.4%;
    margin-top: 0%;
   padding:1.5%;
}
div#navbar_friends:hover div#friends {
    display: block;
    background-color: #f1f1f1;
}
div#friends a {
    display: block;
    text-align: left;
    
}
div#friends a:hover {
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    margin: 0%;
    padding: 10%;
}
i.fa.fa-caret-down {
    display: inline-flex;
    margin: 2%;
    padding: 2%;
}
button#changedisplayonhover {
    padding: 20%;
}